/* 
@media screen and (max-width: 896px){
    .blog4sec1{
        height: 250px !important;
        align-items: center;
        justify-content: center;
    }
    .blog4date{
        top: 10% !important;
        font-size: 12px;
    }
    .blog4head{
        font-size: 7px !important;
        position: relative;
    }
    .blog4text{
        margin: 20px !important;
    }
    .blog4text p{
        font-size: 10px;
    }
    .blog4text h2{
        font-size: 20px;
    }
    .blog4text h3{
        font-size: 16px;
    }
    .blog4footer{
        position: relative;
        top: -125vh;
    }
}
@media screen and (max-width: 375px){
    .blog4head{
        font-size: 6.5px !important;
    }
} */