.termspage{
    position: relative;
    top: 13vh !important;
}
@media screen and (max-width: 896px){
    .termsfooter{
        position: relative;
        top: -120vh;
    }
    .termssec1{
        margin: 20px !important;
    }
}
@media screen and (min-width: 1540px) {
    .termsfooter{
        height: 0vh !important;
    }
}
@media screen and (min-width: 1512px){
    .termsfooter{
        height: 0vh !important;
    }
    .termspage{
        top: 7vh !important;
    }
}